.boxCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: auto;
  min-height: 100vh;
}

.formControl {
  border-radius: 0.3rem;
  background-color: #0a0a0a;
  border: 1px solid #000;
  transition: all 0.4s;
  padding: 1rem;
  margin-right: 1rem;
}

.formControl:hover {
  border-color: rgb(158, 101, 211);
}

.formControl:focus {
  outline: 1px solid blueviolet;
  border: 1px solid transparent;
}

.fwTitle {
  font-family: var(--font-dela);
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  text-align: start !important;
}

.boxForm {
  display: flex;
  flex-direction: column;
}

.row {
  grid-row: 1;
}

.btBox {
  margin-top: 1rem;
  display: grid;
}

.fwButton {
  font-family: Arial;
  text-transform: capitalize;
}

.bgButton {
  color: blueviolet;
  border-color: blueviolet;
}

.bgButton:hover {
  color: blueviolet;
  border-color: blueviolet;
}

.btSignup {
    display: grid;
    margin-top: 1rem;
}

@media (max-width: 576px) {
  .formControl {
    border-radius: 0.3rem;
    width: auto;
    height: 2rem;
    background-color: #0a0a0a;
    border: 1px solid #000;
    padding: 1rem;
    transition: all 0.4s;
  }

  .boxCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: auto;
    min-height: 100vh;
  }

  .formGoup {
    display: flex;
    flex-direction: column;
  }
}
